# App Settings
DEBUG=True
ENVIRONMENT=development

# Database for running docker compose locally
DATABASE_URL="postgresql://username:password@localhost:5432/autopedicare" 
POSTGRES_USER=postgres
POSTGRES_PASSWORD=thepassword
POSTGRES_DB=autopedicare

REDIS_URL=redis://localhost:6379/0

SECRET_KEY="your-very-secret-key-here"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Google OAuth 
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# Apple OAuth 
APPLE_CLIENT_ID="your-apple-service-id"
APPLE_TEAM_ID="your-team-id"
APPLE_KEY_ID="your-key-id"

IP_API_KEY="32506e59db89a7"

# JWT Claims
JWT_ISSUER=https://api.yourdomain.com
JWT_AUDIENCE=https://your-frontend-app.com

# AWS S3 details
AWS_ACCESS_KEY_ID="your-aws-access-key-id"
AWS_SECRET_ACCESS_KEY="your-aws-secret-access-key"
AWS_BUCKET_NAME="your-aws-bucket-name"
AWS_REGION="your-region-name"

# Paystack variables
PAYSTACK_SECRET_KEY="your-paystack-secret-key"
PAYSTACK_BASE_URL="paystack-base-url"